<!DOCTYPE html>
<html>
  <head>
    <title>Pennies To Coins</title>
    <!-- bower:css -->
    <!-- endbower -->
    <!-- inject:css -->
    <!-- endinject -->
  </head>
  <body>
    <div class="container">
      <div class="row">
        <p>Put in the number of pennies</p>
        <form action="">
          <input type="radio" name="currency" value="GBP"> GBP<br>
          <input type="radio" name="currency" value="USD"> USD<br>
          <input type="radio" name="currency" value="EUR"> EUR
        </form>
        <input type="text" id="p"></input>
        <button id="go">Calculate</button>
      </div>
      <div id="resultDisplay" class="row"></div>
    </div>
  </body>
  <!-- bower:js -->
  <!-- endbower -->
  <!-- inject:js -->
  <!-- endinject -->
</html>
