<!DOCTYPE html>
<html>
  <head>
    <title>Pennies To Coins</title>
    <!-- bower:css -->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/styles.css">
    <!-- endinject -->
  </head>
  <body>
    <p>This is working</p>
    <p>This is a new paragraph</p>
  </body>
  <!-- bower:js -->
  <script src="/lib/jquery/dist/jquery.js"></script>
  <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
  <!-- endbower -->
  <!-- inject:js -->
  <script src="/js/main.js"></script>
  <!-- endinject -->
</html>
